:root {
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
  --color-brand: #819857;
  --color-brand-dark: #465929;
}

/*base styles*/
body {
  color: var(--color-primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  line-height: 1, 5;
}
address {
  font-style: normal;
}

ul {
  list-style: none;
}
/*button hover styles*/
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
  border: 2px solid var(--color-brand);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
/*button hover styles*/
.button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
}
/*link stles*/
.header-link {
  color: var(--color-primary-light);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1, 5;
}
.header-link:hover {
  color: var(--color-brand);
  text-decoration: none;
}
/*hero section*/
.hero-title {
  color: var(--color-primary-light);
  text-align: center;
  font-size: 128px;
  font-weight: 900;
}
.hero-title span {
  color: var(--color-brand);
}
/*advantage section*/
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand);
}

.advantages-item {
  font-weight: 300;
  font-size: 20px;
}
.section-title {
  font-style: 64px;
  font-weight: 900;
  line-height: 1, 3;
}
.section-title {
  color: var(--color-primary-dark);
}
/*tradition text*/
.traditions-text {
  font-weight: 600;
}
.traditions-text .brand {
  transform: uppercase;
  color: var(--color-brand);
}
.traditions-text .uppercase {
  transform: uppercase;
  color: var(--color-brand);
}
/*chief title*/
.chief-title {
  font-size: 40px;
  font-weight: 600;
}
/*format title*/
.format-title {
  font-size: 24px;
  font-weight: 600;
}
.format-text {
  font-size: 16px;
  font-weight: 300;
}
/* adress-link*/
.adress-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.adress-link:hover {
  color: var(--color-brand);
}

.adress-copyright {
  font-size: 14px;
}
